/*Styling af sectioner*/
/*Første sektion på siden er en lille info om åbningstider og tlf-nummer*/
.opener-phone {
    margin-top: 1rem;
    margin-left: 4em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.opener-phone p{
    font-size: 1rem;
    color: var(--dark-brown);
    font-family: var(--sans-serif);
    font-weight: 400;
}

.opener-phone img {
    height: 1.2rem;
    width: auto;
    margin-right: 0.3rem;
}

.openerright{
    background-color: var(--light-text);
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    height: fit-content;
}
.openerright h3{
    padding-top: 2.1rem;
}
hr{
    margin-left: 1.5em;
    margin-right: 1.5em;
}
h3{
    font-family: var(--sans-serif);
    color: var(--light-green);
    font-weight: 400;
}
.openerleft{
    background-color: var(--grey);
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    height: fit-content;
    padding-block: 4rem;
}
/*Sektion med én overnatning*/
.section-img{
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    margin-bottom: -4px;
}
.onenighttext, .openerright{
    background-color: var(--light-text);
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 5em;
    height: fit-content;
}
.text-box{
    margin-left: 4em;
    margin-right: 1.5em;
    margin-top: 0.5em;
    padding-bottom: 2em;
}
.note{
    float: right;
    margin-right: -9rem;
    margin-top: 0em;
}
.pris{
    margin-top: 2em;
}
.pris:hover{
    background-color: var(--light-green);
}
.donticon{
    width: 3em;
    height: 3em;
    margin-top: 1.5em;
}

.facilities{
    list-style-type: circle;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.facilities li{
    display: list-item;
    color: var(--dark-brown);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.8em;
}
.facilities-day{
    margin-left: -1em;
    margin-bottom: 0.5em;
    list-style: none;
}
.callerlinkkro{
    font-size: 1.1rem;
    margin: 7px 0px;
    color: var(--dark-green);
    font-family: var(--sans-serif);
    font-weight: 400;
}

/*Sektion med 2 overnatninger*/
.twonighttext{
    background-color: var(--grey);
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 5em;
    height: fit-content;
}

.twonighttext h3, .openerleft h3{
    color: var(--dark-green);
}
/* Media Query for Tablet */
@media only screen and (min-width: 744px){
    .donticon{
        width: 4em;
        height: 4em;
        margin-right: 1em;
    }
    .openerleft, .openerright{
        height: 20vh;
    }
    .note{
        margin-top: 1em;
    }
    .pris{
        margin-top: 3em;
    }
    p, .facilities li{
        font-size: 1.2em;
    }
    h3{
        font-size: 1.6em;
    }
    .gridcontainer section{
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
}

/* Media Query for Web */
@media only screen and (min-width: 1150px) {
    p, .facilities li{
        font-size: 1.3em;
    }
    h3{
        font-size: 1.9em;
    }
    .section-img{
        width: 50vw;
        height: 80vh;
    }
    .note{
        float: right;
        margin-right: -17rem;
        margin-top: 1em;
    }
    .pris{
        margin-top: 1.6em;
        margin-right: 0em;
    }
    /*Her placeres de forskllige billeder og tekstfelter i griddet, så de skifter på kryds*/
    .gridcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30vh 80vh 80vh;
    }
    .openerleft{
        grid-column: 1/2;
        grid-row: 1/2;
        padding-left: 7em;
        padding-right: 3em;
    }
    .openerright{
        grid-column: 2/3;
        grid-row: 1/2;
        padding-left: 3em;
        padding-right: 7em;
    }
    .onenightimg{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .onenighttext{
        height: 70vh;
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 7em;
        padding-right: 3em;
    }
    .twonightimg{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .twonighttext{
        height: auto;
        padding-bottom: 0em;
        grid-column: 2/3;
        grid-row: 3/4;
        padding-left: 3em;
        padding-right: 7em;
    }
    .facilitieslist{
        display: flex;
    }
}