/*Styling af header med titel*/
.header-small{
    top: 43%;
}

.smileyicon{
    position: absolute;
    z-index: +1;
    width: 3em;
    height: auto;
    top: 53.4vh;
    left: 85vw;
}

.restaurant-gridcontainer{
    background-color: #F0F0EB;
    padding-bottom: 3rem
}

.textbox1{
    padding-top: 3.2rem;
}
.textbox2{
    margin-top: 3rem;
}

div.phone-tab{
    float: right;
    text-align: right;
}

.restaurant-flex{
    display: flex;
    flex-direction: column;
}
.buttongroup{
    text-align: center;
    margin-top: 2em;
}
.se-mere-menu{
    text-decoration: none;
    color: var(--light-text);
    background-color: var(--light-green);
    font-size: 1.15rem;
    font-family: var(--sans-serif);
    font-weight: 400;
    padding-left: 2.0rem;
    padding-right: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-bottom-left-radius: 60px;
}
.se-mere-vin{
    text-decoration: none;
    color: var(--light-text);
    background-color: var(--light-green);
    font-size: 1.15rem;
    font-family: var(--sans-serif);
    font-weight: 400;
    padding-left: 0.3rem;
    padding-right: 3.4rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-bottom-right-radius: 60px;
}
.se-mere-menu:hover{
    background-color: var(--dark-green);
}
.se-mere-menu:focus {
    background-color: var(--dark-green);
}
.se-mere-vin:hover{
    background-color: var(--dark-green);
}
.se-mere-vin:focus {
    background-color: var(--dark-green);
}
.p1{
    margin-left: 4rem;
}

.phone-tab p{
    font-size: 0.9rem;
    text-align-last: right;
    color: var(--dark-green);
    font-family: var(--sans-serif);
    font-weight: 400;
    margin-right: 1.7rem;
    padding: 1vh;

}
.phone-tab img{
    height: 1.6rem;
    width: auto;
    margin-right: 0.3rem;
    margin-top: 0.3rem;
}

.info-tab {
    text-align: end;
    font-size: 0.8rem;
    color: var(--light-green);
    font-family: var(--sans-serif-regular);
    font-weight: 400;

}
h3{
    font-family: var(--sans-serif);
    color: var(--dark-green);
    font-weight: 400;
}
.infoline{
    margin: 1rem 3rem;
}
.infobar{
    background-color: var(--grey);
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 1.2em;
}

.p-box{
    margin-left: 4rem;
    margin-right: 1rem;
}
.infotext2{
    margin-top: 2.5rem;
}
p{
    font-size: 1em;
}
.callerlink{
    margin-right: 1.4rem;
}
.callnumber{
    font-size: 1rem;
    margin: 7px 25px;
    color: var(--dark-green);
    font-family: var(--sans-serif);
    font-weight: 400;
}

/* Styling til billederne sidst på siden */
.restaurant-images{
    align-items: center;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: var(--grey);
}
.img-global{
    position: relative;
    width: 75vw;
    height: 35vh;
    margin: 2rem auto;
    background-repeat: no-repeat;
}

.pic1 {
    background-image: url(../img/restaurant/laks1.webp);
    background-size: 150%;
    background-position: 50% 70%;
}

.pic2 {
    background-image: url(../img/restaurant/schnitzel.webp);
    background-size: 150%;
    background-position: 50% 95%;
}

.pic3 {
    background-image: url(../img/restaurant/dessert4.webp);
    background-size: 128%;
    background-position: 50% 70%;
}
.restaurant-images img{
    object-fit: cover;
    display: block;
    overflow: hidden;
}

/* Styling til billederne sidst på siden slut */

footer p{
    color: var(--light-text);
}

/*Styling af generel sectioner*/
.section-img{
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    margin-bottom: -4px;
}
hr{
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.text-box{
    margin-left: 4em;
    margin-right: 1.5em;
    margin-top: 0.5em;
    padding-bottom: 2em;
}
.restaurant-images{
    margin-left: 0rem;
    background-color: var(--grey);
}


/* Media Query for Tablet */
@media only screen and (min-width: 744px){

.img-global{
    position: relative;
    width: 50vw;
    height: 35vh;
    margin: 2rem auto;
    background-repeat: no-repeat;
}
.smileyicon{
    position:absolute;
    z-index: +1;
    width: 4em;
    height: auto;
    top: 50vh;
    left: 89vw;
}
.infobar, .restaurant-opening{
    padding-left: 2.5em;
    padding-right: 2.5rem;
}

div.phone-tab{
    float: left;
    text-align: left;
    margin-left: 4rem;
}
.restaurant-flex{
    display: flex;
    flex-direction: column;
}
.buttongroup{
    text-align: center;
    margin-top: 2em;
}
.phone-tab p{
    text-align-last: left;
}
.se-mere-menu{
    font-size: 1.3rem;
    font-family: var(--sans-serif);
    font-weight: 400;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom-left-radius: 60px;
}

.se-mere-vin{
    font-size: 1.3rem;
    font-family: var(--sans-serif);
    font-weight: 400;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom-right-radius: 60px;
}
p{
    font-size: 1.2rem;
}
.phone-tab p, .callerlink{
    font-size: 1.2rem;
}
}

/* Media Query for Web */
@media only screen and (min-width: 1150px) {
    .restaurant-opening{
        display: grid;
        grid-template-rows: 50% 50%;
    }
    
    .textbox1{
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .textbox2{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .img-global{
        position: relative;
        width: 28rem;
        margin: 2rem auto;
        height: 19rem;
        background-repeat: no-repeat;
    }

    .restaurant-opening{
        justify-content: space-evenly;
    }

    .buttongroup{
        float: left;
        text-align: left;
        margin-top: 2em;
    }

    .phone-tab p{
        font-size: 1.3rem;
    }

    .se-mere-menu{
        font-size: 1.6rem;
        font-family: var(--sans-serif);
        font-weight: 400;
        margin-right: 0.2rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        border-bottom-left-radius: 60px;
    }
    
    .se-mere-vin{
        font-size: 1.6rem;
        font-family: var(--sans-serif);
        font-weight: 400;
        margin-left: 0.2rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        border-bottom-right-radius: 60px;
    }

    .smileyicon{
        position:absolute;
        z-index: +1;
        width: 5em;
        height: auto;
        top: 47vh;
        left: 91vw;
    }

    .infobar{
        padding-bottom: 7em;
    }


    .infoflexer{
        display: flex;
        justify-content: space-evenly;
        margin-left: 8rem;
        gap: 2rem;
    }
    .infotext1{
        height: 100px;
    }

    h3{
        font-size: 1.9rem;
        margin: 1rem 1.5rem;
    }
    .h3info{
        padding-left: 2rem;
    }
    p{
        line-height: 2.2;
        font-size: 1.3rem;
    }
    .infotext2{
        height: 100px;
        margin-top: 0%;
    }
    .phoneicon{
        width: 2.063rem;
        height: auto;
    } 
    .restaurant-images{
        background-color: var(--grey);
        margin-left: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .section-img{
        width: 100vw;
        height: 40vh;
        object-fit: cover;
        margin-bottom: -4px;
    }

    .textbox1, .textbox2{
        padding: 2rem;
        margin-top: 0;
    }
}